<main class="container container--main container--login">
    <h2 class="container__title">INGRESAR A MI CUENTA</h2>
    <form action="/auth/login" method="POST" class="login__form">
        <!-- CORREO ELECTRONICO -->
        <div class="form__box">
            <label class="label" for="">Correo electronico</label>
            <input class="input-text--box" type="email" name="email" required>
        </div>
        <!-- CONTRASEÑA -->
        <div class="form__box">
            <label class="label" for="">Contraseña</label>
            <input class="input-text--box" type="password" name="pass" required>
            
            <!-- OPCIONES DE LOGEO -->
            <div class="login-options">
                <div class="login-options__remember">
                    <input class="input-checkbox input-checkbox--login" type="checkbox" id="remember">
                    <label class="label--checkbox" for="remember">Recordarme</label>
                </div>
                <a href="/auth/recoverPass" class="link__blue link__blue--lost-pass">Olvidé mi contraseña</a>
            </div>
        </div>

        <input class="btn form__submit" type="submit" value="INGRESAR">

        <!-- REGISTRAR UNA NUEVA CUENTA -->
        <div class="form__box form__box--footer">
            <label class="label label--login-sublabel">¿No tienes cuenta?
                <a href="/auth/register" class="link__blue">crea una ahora</a>
            </label>
        </div>
    </form>
</main>