.container--shop{
    display: flex;
    flex-direction: row;
}

/* Filters aside */

.filters__container{
    padding-right: var(--spacing-20);
}

.filters__form{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-28);
}

.filter{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.filter--price{
    display: flex;
    gap: 10px;
}

.filter__li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/*  */

.shop__container{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3,1fr);
}

