.contact__container{
    display: flex;
    gap: var(--spacing-36);
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: var(--spacing-68) auto;
    padding: var(--spacing-36);
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* Formulario */
.contact__form{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--spacing-12);
    max-width: 600px;
}

.contact__title{
    font-size: var(--font-xlarge);
    font-weight: 700;
}

.label--contact{
    font-family: var(--font-base);
    font-size: var(--font-medium);
    font-weight: 500;
    text-wrap: nowrap;
}

/* Seccion datos de contacto */
.contact__info-container{
    min-width: 250px;
}

.contact__ul{
    display: flex;
    flex-direction: column;
}

.contact__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-20);
    font-size: var(--font-medium);
    border-radius: 10px;
    transition: var(--transition--01);
}
        .contact__link:hover{
            background-color: var(--bg-light-soft);
            box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.25);
        }

    .contact__link iconify-icon{
        font-size: 4rem;
        color: var(--primary-850);
        transition: var(--transition--01);
    }

    .contact__link h4{
        padding: 0;
        margin: 0;
        font-size: var(--font-medium-20);
        color: var(--dark-830)
    }

    .contact__link span{
        color: var(--dark-500);
    }

/* Separador vertical entre el formulario y datos de contacto */
.separator{
    border: 1px solid var(--dark-500);
    height: 90%;
}

@media (max-width: 767.98px){

    .contact__container{
        width: 100%;
        margin: 0;
        padding: var(--spacing-12);
        flex-direction: column-reverse;
        gap: var(--spacing-36);
        background-color: var(--bg-light-soft);
        border-radius: 0;
        box-shadow: none;
    }

    .contact__ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: var(--spacing-8);
    }

    .contact__li{
        background-color: var(--bg-light-solid);
        border: 1px solid rgba(0,0,0,.05);
        border-radius: 8px;
    }

    .contact__link{
        height: 100%;
        padding: var(--spacing-12);
        gap: var(--spacing-4);
        text-wrap: nowrap;
    }
        .contact__link iconify-icon{
            font-size: var(--font-xlarge);
        }

        .contact__link h4{
            font-size: var(--font-medium-20);
            font-weight: 600;
        }

        .contact__link span{
            font-size: var(--font-xsmall);
        }
    
    .contact__form {
        width: 100%;
        max-width: 100%;
    }

    /* Separador vertical entre el formulario y datos de contacto */
    .separator{
        display: none;
    }
}