<main class="container container--main">
    <!------ Seccion carrito de compra ------>
    <section class="container--cartlist">

        <h2 class="container__title">CARRITO DE COMPRAS</h2>
        <table class="table-cart">

            <!------ Cabecera de listado items en carrito ------>
            <thead class="table-cart__head">
                <tr class="table-cart__row">
                    <td class="table-cart__data table-cart__data--head" colspan="2">
                        <span>DETALLE DEL PRODUCTO</span>
                    </td>
                    <td class="table-cart__data table-cart__data--head">
                        <span>CANTIDAD</span>
                    </td>
                    <td class="table-cart__data table-cart__data--head">
                        <span>TOTAL</span>
                    </td>
                    <td class="table-cart__data table-cart__data--head">
                    </td>
                </tr>
            </thead>

            <!------ Listado de items en carrito ------>
            <tbody class="table-cart__body">

                <!------ Item 1 ------>
                <tr class="table-cart__row">
                    <!------ Imagen del item ------>
                    <td class="table-cart__data">
                        <picture class="card__picture--cart">
                            <img src="/img/star-wars/baby-yoda-1.webp" alt="">
                        </picture>
                    </td>
                    <!------ Descripcion del item ------>
                    <td class="table-cart__data">
                        <section class="card__content card__content--table">
                            <h4 class="card__name">baby yoda blueball</h4>
                            <span class="card__collection">star wars</span>
                            <span class="card__price">$1799,99</span>
                        </section>
                    </td>
                    <!------ Cantidad item ------>
                    <td class="table-cart__data">
                        <div class="quantity quantity--table">
                            <input class="quantity__input input-hide-arrows" type="number" value="2" min="1">
                            <div class="quantity__btn-container">
                                <button class="quantity__btn btn--add" type="button"><img src="/img/icons/+.svg" alt=""></button>
                                <button class="quantity__btn btn--substract" type="button"><img src="/img/icons/-.svg"></button>
                            </div>
                        </div>
                    </td>
                    <!------ Precio total ------>
                    <td class="table-cart__data">
                        <span class="card__price card__price--table">$3599,98</span>
                    </td>
                    <!------ Eliminar item ------>
                    <td class="table-cart__data">
                        <a href="" class="table-cart__delet">
                            <iconify-icon icon="icon-park-outline:close-one" width="28" height="28"></iconify-icon>
                        </a>
                    </td>
                </tr>

                <!------ Item 2 ------>
                <tr class="table-cart__row">
                    <!------ Imagen del item ------>
                    <td class="table-cart__data">
                        <picture class="card__picture--cart">
                            <img src="/img/harry-potter/snape-patronus-1.webp" alt="">
                        </picture>
                    </td>
                    <!------ Descripcion del item ------>
                    <td class="table-cart__data">
                        <section class="card__content card__content--table">
                            <h4 class="card__name">Severus patronus</h4>
                            <span class="card__collection">harry potter</span>
                            <span class="card__price">$1799,99</span>
                        </section>
                    </td>
                    <!------ Cantidad item ------>
                    <td class="table-cart__data">
                        <div class="quantity quantity--table">
                            <input class="quantity__input input-hide-arrows" type="number" value="1" min="1">
                            <div class="quantity__btn-container">
                                <button class="quantity__btn btn--add" type="button"><img src="/img/icons/+.svg" alt=""></button>
                                <button class="quantity__btn btn--substract" type="button"><img src="/img/icons/-.svg"></button>
                            </div>
                        </div>
                    </td>
                    <!------ Precio total ------>
                    <td class="table-cart__data">
                        <span class="card__price card__price--table">$1799,99</span>
                    </td>
                    <!------ Eliminar item ------>
                    <td class="table-cart__data">
                        <a href="" class="table-cart__delet">
                            <iconify-icon icon="icon-park-outline:close-one" width="28" height="28"></iconify-icon>
                        </a>
                    </td>
                </tr>
                
                <!------ Item 3 ------>
                <tr class="table-cart__row">
                    <!------ Imagen del item ------>
                    <td class="table-cart__data">
                        <picture class="card__picture--cart">
                            <img src="/img/pokemon/dragonite-1.webp" alt="">
                        </picture>
                    </td>
                    <!------ Descripcion del item ------>
                    <td class="table-cart__data">
                        <section class="card__content card__content--table">
                            <h4 class="card__name">Dragonite</h4>
                            <span class="card__collection">Pokemon</span>
                            <span class="card__price">$1799,99</span>
                        </section>
                    </td>
                    <!------ Cantidad item ------>
                    <td class="table-cart__data">
                        <div class="quantity quantity--table">
                            <input class="quantity__input input-hide-arrows" type="number" value="1" min="1">
                            <div class="quantity__btn-container">
                                <button class="quantity__btn btn--add" type="button"><img src="/img/icons/+.svg" alt=""></button>
                                <button class="quantity__btn btn--substract" type="button"><img src="/img/icons/-.svg"></button>
                            </div>
                        </div>
                    </td>
                    <!------ Precio total ------>
                    <td class="table-cart__data">
                        <span class="card__price card__price--table">$1799,99</span>
                    </td>
                    <!------ Eliminar item ------>
                    <td class="table-cart__data">
                        <a href="" class="table-cart__delet">
                            <iconify-icon icon="icon-park-outline:close-one" width="28" height="28"></iconify-icon>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </section>

    <!------ Seccion resumen de compra ------>
    <section class="container--resumen">
        <h2 class="container__title">RESUMEN</h2>
        <section class="resumen__content table-cart__row">
                <div class="resumen__div">
                    <span>CANTIDAD DE ELEMENTOS</span>
                    <span>4</span>
                </div>
                <div class="resumen__div">
                    <span>SUBTOTAL</span>
                    <span>$7199,96</span>
                </div>
                <div class="resumen__div">
                    <span>ENVIO</span>
                    <span>$0,00</span>
                </div>
                <div class="resumen__div">
                    <span>TOTAL</span>
                    <span>$7199,96</span>
                </div>
        </section>
        <a class="btn-link btn-link--resumen" href="#">IR A PAGAR</a>
    </section>
</main>
<script src="/scripts/itemQuantity.js"></script>