<main class="container container--main container--shop">
    <!-- Seccion lateral con filtros de busqueda y orden -->
    <aside class="filters__container">
        <button class="filters-mobile__btn">
            <span>Ordenar y filtrar</span>
            <iconify-icon icon="fluent:filter-12-filled"></iconify-icon>
        </button>
        
        <div class="filters__form-container">
            <form class="filters__form" action="">
                <!-- Buscar por item o categoria -->
                <div class="filter">
                    <label class="label label--filter" for="search">BUSCAR</label>
                    <input class="input-text--box" id="search" type="text" placeholder="Item o categoria">
                </div>
    
                <!-- Ordenar items -->
                <div class="filter">
                    <label class="label label--filter" for="short">ORDENAR POR</label>
                    <select class="input-select" name="short" id="short">
                        <option value="precio_mayor">Mayor precio</option>
                        <option value="precio_menor">Menor precio</option>
                        <option value="nombre_az">Nombre A-Z</option>
                        <option value="nombre_za">Nombre Z-A</option>
                        <option value="destacado">Destacados</option>
                    </select>
                </div>
    
                <!-- Filtrar items por precio -->
                <div class="filter">
                    <label class="label label--filter">PRECIO</label>
                    <div class="filter--price">
                        <label class="label--filter-price" for="min_price">MIN<input
                                class="input-number--box input-hide-arrows" type="number" placeholder="0" min="0">-</label>
                        <label class="label--filter-price" for="max_price">MAX<input
                                class="input-number--box input-hide-arrows" type="number" placeholder="0" min="0"></label>
                    </div>
                </div>
    
                <!-- Filtrar items segun caracteristicas -->
                <div class="filter">
                    <label class="label label--filter">FILTRAR</label>
                    <ul>
                        <li class="filter__li">
                            <input class="input-checkbox" type="checkbox" name="check_new" id="check_new">
                            <label class="label--checkbox" for="check_new">NUEVOS</label>
                        </li>
                        <li class="filter__li">
                            <input class="input-checkbox" type="checkbox" name="check_offer" id="check_offer">
                            <label class="label--checkbox" for="check_offer">OFERTAS</label>
                        </li>
                        <li class="filter__li">
                            <input class="input-checkbox" type="checkbox" name="check_special" id="check_special">
                            <label class="label--checkbox" for="check_special">EDICIÓN ESPECIAL</label>
                        </li>
                        <li class="filter__li">
                            <input class="input-checkbox" type="checkbox" name="check_fav" id="check_fav">
                            <label class="label--checkbox" for="check_fav">FAVORITOS</label>
                        </li>
                    </ul>
                </div>
    
                <!-- Botones -->
                <div class="filter filter--btn">
                    <button class="btn" type="reset">LIMPIAR</button>
                    <button class="btn" type="submit">APLICAR</button>
                </div>
            </form>
        </div>
    </aside>

    <!-- Contenedor de items y paginador -->
    <section class="shop__container">

        <!-- Solo listado de items -->
        <ul class="shop__items-list">
            <% data.forEach((item) => {%>
                <%- include('../../components/card.ejs', {item: item, glide: false}) %>
            <%}) %>
        </ul>

        <!-- Paginador -->
        <section class="paginator">
            <ol>
                <li>
                    <a class="paginator__link paginator__link--arrow" href=""> < </a>
                </li>
                <li>
                    <a class="paginator__link paginator__link--active" href="">1</a>
                </li>
                <li>
                    <a class="paginator__link" href="">2</a>
                </li>
                <li>
                    <a class="paginator__link" href="">...</a>
                </li>
                <li>
                    <a class="paginator__link" href="">7</a>
                </li>
                <li>
                    <a class="paginator__link" href="">8</a>
                </li>
                <li>
                    <a class="paginator__link paginator__link--arrow" href="">></a>
                </li>
            </ol>
        </section>
    </section>
</main>

<!------ Scripts EXTERNOS ------>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script> <!-- Iconos -->

<!------ Scripts PROPIOS ------>
<script src="/scripts/navbar.js"></script> <!-- Configuracion menu navegacion -->
<!-- <script src="/scripts/render-card.js"></script> -->
<script src="/scripts/filter.js"></script>