.footer{
    background-color: var(--bg-dark-solid);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--spacing-36);
}

.navbar--footer{
}

.footer__rights{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: var(--font-medium);
    font-weight: 500;
}


@media (max-width: 767.98px){
    .footer{
        padding: 20px 36px 36px;
    }

    .footer .navbar__item{
        border: 0;
    } 
}