.header{
    background-color: var(--bg-dark-solid);
    display: flex;
    justify-content: center;
}

.navbar{
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: var(--spacing-36) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo{
    max-width: 300px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__item{
    transition: var(--transition--navbar);
}

.navbar__link{
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    color: var(--font-light-solid);
    font-weight: 500;
    font-size: var(--font-medium);
    font-family: var(--font-alternative);
}

.navbar__cart{
    position: relative;
}

/* Burbuja que indica cantidad de items en carrito */
.navbar__cart-count{
    height: 20px;
    width: 25px;
    padding: 10px 10px 15px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--secondary-solid);
    border-radius: 50px;
    font-weight: 900;
    transition: var(--transition--navbar);
}

.with-submenu{
    position: relative;
}

/* Icono chevron */
.with-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4);
}

    .with-icon iconify-icon{
        font-size: var(--font-xlarge);
    }

/* Submenu */
.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background-color: var(--bg-dark-solid);
}

.submenu__item{
    text-wrap: nowrap;
}

/* Hovers */
    .navbar__item:hover, .navbar__item:focus-within{
        background-color: var(--primary-solid);
    }

    .navbar__item:hover .submenu{
        display: initial;
    }

    .navbar__cart:hover{
        background-color: inherit;
    }
    .navbar__cart:hover .navbar__cart-count{
        background-color: var(--primary-solid);
    }

.navbar__logo a{
    display: inline-block;
    width: auto;
    height: auto;
}

/* Mobile */
.navbar__img--mobile{
    display: none;
    max-width: 30px;
}

.navbar-mobile{
    display: none;
    align-items: center;
    gap: var(--spacing-36);
}

.navbar-mobile__cart{
    position: relative;
    display: inline-block;
    max-width: 25px;
}

.navbar-mobile__menu-btn{
    appearance: none;
    border: 0;
    display: flex;
    align-items: center;
    background-color: inherit;
    color: var(--font-light-solid);
    font-size: var(--font-xlarge);
    transition: var(--transition--navbar);
}

    .navbar-mobile__menu-btn--active{
        color: var(--primary-solid);
    }


@media (max-width: 767.98px){
    /* Ocultar desktop */
    .navbar__cart{
        display: none;
    }

    .navbar__img{
        display: none;
    }

    /* Header */
    .header{
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    /* Navbar */
    .navbar{
        padding: var(--spacing-12) 0;
        justify-content: space-between;
    }

    .navbar__menu{
        display: none;
    }

    .navbar__menu, .submenu{
        width: 100%;
        position: absolute;
        top: 100%;
        z-index: 1000;
        flex-direction: column;
        gap: 0;
        background-color: var(--bg-dark-solid);
        border-top: 2px solid #FFF;
        transition: var(--transition--01);
    }

    .navbar__menu--active{
        display: initial;
    }

    /* Mobile */
    .navbar__img--mobile{
        display: initial;
        margin-left: var(--spacing-20);
    }

    .navbar-mobile{
        display: flex;
        width: fit-content;
        margin-right: var(--spacing-28);
    }

    .navbar__item{
        width: 100%;
        border-bottom: 1px solid #FFF;
    }
    
    .navbar__link{
        width: 100%;
        text-align: center;
        padding: var(--spacing-20) 0;
    }

    .navbar__item:hover .submenu{
        position: relative;
    }

    .navbar__cart-count{
        height: 10px;
        width: 26px;
        padding: 12px 5px 15px;
        display: grid;
        place-content: center;
        top: -8px;
        right: -17px;
        font-size: var(--font-medium);
        color: var(--font-light-solid);
    }
}