<!------ Seccion HERO (Banner) ------>
<section class="hero">
    <article class="hero__content container">
        <h2 class="hero__title">Nuevos Ingresos</h2>
        <p class="hero__description">Descubrí el próximo Funko Pop de tu colección</p>
        <a class="btn-link-rounded btn-link-rounded--hero" href="/shop">shop</a>
    </article>
</section>

<main class="container container--main">

    <!------ Seccion de colecciones destacadas ------>
    <section class="collections__container">
        <article class="collection">
            <section class="collection__content">
                <h3 class="collection__title">star wars & the mandalorian</h3>
                <p class="collection__description">Disfruta de una saga que sigue agregando personajes a su colección.</p>
                <hr class="collection__line">
                <a class="btn-link-rounded" href="/pages/shop/starwars.html">Ver colección</a>
            </section>
            <picture class="collection__picture">
                <img src="/img/star-wars/baby-yoda-1.webp" alt="">
            </picture>
        </article>

        <article class="collection">
            <section class="collection__content">
                <h3 class="collection__title">pokemon indigo</h3>
                <p class="collection__description">Atrapa todos los que puedas y disfruta de una colección llena de amigos.</p>
                <hr class="collection__line">
                <a class="btn-link-rounded" href="/pages/shop/pokemon.html">Ver colección</a>
            </section>
            <picture class="collection__picture">
                <img src="/img/pokemon/vulpix-1.webp" alt="">
            </picture>
        </article>

        <article class="collection">
            <section class="collection__content">
                <h3 class="collection__title">harry potter</h3>
                <p class="collection__description">Revive los recuerdos de una saga llena de magia y encanto.</p>
                <hr class="collection__line">
                <a class="btn-link-rounded" href="/pages/shop/harrypotter.html">Ver colección</a>
            </section>
            <picture class="collection__picture">
                <img src="/img/harry-potter/snape-patronus-1.webp" alt="">
            </picture>
        </article>
    </section>

    <!------ Seccion de ultimos lanzamientos ------>
    <section class="glide glide--carousel">
        <h2 class="glid__title">ÚLTIMOS LANZAMIENTOS<h2>
        <!-- Slide de cards -->
        <%- include('components/glide.ejs', {dbProducts} )%>
        <!-- FLechas de contol slide -->
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="octicon:chevron-up-12" rotate="270deg"></iconify-icon></button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="octicon:chevron-up-12" rotate="90deg"></iconify-icon></button>
        </div>
    </section>
</main>