<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="/img/favicon.ico"/>
    <% if (view.glide) {%>
        <!-- CSS Libreria glide -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
        <%}%>
    <link rel="stylesheet" href="/styles/index.css">
    <title><%=view.title%></title>
</head>
<body>
    <%- include('../partials/header.ejs',{view}) %>
    <%- body %>
    <%- include('../partials/footer.ejs',{view}) %>
    <script src="/scripts/navbar.js"></script> <!-- Configuracion menu navegacion -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script> <!-- Iconos -->
    <% if (view.glide) {%>
        <!-- Glide (Carrousel) -->
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script> <!-- Importacion libreria -->
        <script src="/scripts/glide-config.js"></script> <!-- Configuracion de libreria Glide -->
    <%}%>
    
</body>
</html>