.container{
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.container--main{
    padding: var(--spacing-68) 0;
    display: flex;
    flex-direction: column;
}

/* Container de header y footer */
.container--menu{
    padding: var(--spacing-36);
    background-color: var(--bg-dark-solid);
}

.container__title{
    display: inline-block;
    width: fit-content;
    font-family: var(--font-alternative);
    font-size: var(--font-display);
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 4px solid var(--primary-solid);
}

.test{
    display: flex;
    place-items: center;
    height: 65vh;
}

/* Links */
.link__blue{
    font-size: var(--font-xsmall);
    color: var(--secondary-900);
    transition: var(--transition--01);
}

    .link__blue:hover{
        color: var(--secondary-solid);
        text-decoration-line: underline;
    }

.link__blue--payment{
    font-weight: 700;
}

/* Cantidad de items a cargar */

.amount{
    display: flex;
    gap: var(--spacing-8);
}

.amount__btn-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.amount__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 4px;
    font-size: 0rem;
    background-color: var(--dark-500);
    transition: var(--transition--01);
}

    .amount__btn:hover{
        background-color: var(--primary-solid);
    }

.amount__input{
    width: 100px;
    appearance: none;
    border: 2px solid var(--border-gray);
    font-size: var(--font-medium);
    font-weight: 700;
    text-align: center;
    transition: var(--transition--01);
}

    .amount__input:hover, .amount__input:focus{
        border: 2px solid var(--primary-solid);
        outline: none;
    }