.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Container de header y footer */
.container-menu{
    padding: var(--spacing-36);
    background-color: var(--bg-dark-solid);
}

.test{
    display: flex;
    place-items: center;
    height: 65vh;
}