.card{
    position: relative;
    max-width: 360px;
    padding: var(--spacing-20);
    background-color: var(--bg-light-solid);
    border: 1px solid rgba(0,0,0,.05);
    transition: var(--transition--01);
    animation: ;
}

    .card:hover{
        box-shadow: var(--border-shadow--01);
    }

.card__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-28);
}

/* Contenido debajo de picture */
.card__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    text-transform: uppercase;
}

    .card__collection{
        font-size: var(--font-xsmall);
        font-weight: 500;
    }

    .card__name{
        font-size: var(--font-medium);
        font-weight: 700;
    }

    .card__price{
        font-size: var(--font-small);
        font-weight: 400;
    }

    .card__payments{
        font-size: var(--font-xsmall);
        font-weight: 700;
        color: var(--secondary-solid);
    }

/* Nuevo item */
.new-item::before{
    content: 'NUEVO';
    position: absolute;
    top: 0;
    right: 0;
    color: var(--font-light-solid);
    font-size: var(--font-xsmall);
    font-weight: 500;
    background-color: var(--primary-solid);
    padding: var(--spacing-8) var(--spacing-16);
}

/* Seccion carousel*/
.carousel__title{
    font-size: var(--font-display);
    font-weight: 700;
    margin: var(--spacing-68) 0;
}

/* Contenedor de las cards */
.carousel__cards{
    display: flex;
    justify-content: space-around;
}

.card__cover img{
    animation: fade 1.7s;
}

.card__img-front{
}

.card__img-back{
    display: none;
}

.card__cover:hover .card__img-front{
    display: none;
}

.card__cover:hover .card__img-back{
    display: block;
}