.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo{
    max-width: 300px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
    color: var(--font-light-solid);
    font: var(--font-alternative);
    font-size: var(--font-medium-20);
    font-weight: 500;
}

.navbar__link{
    display: inline-block;
    position: relative;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
}

.navbar__item{
    transition: all 0.3s ease-in-out;
}

    .navbar__item:hover{
        background-color: var(--primary-900);
    }

.whit-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.whit-icon iconify-icon{
    font-size: var(--font-xlarge);
    padding-bottom: 3px;
}

/* Submenu desplegable */

.whit-submenu:hover .submenu{
    display: inline-block;
}

.submenu{
    display: none;
    position: absolute;
    background-color: var(--bg-dark-solid);
    z-index: 10;
}

/* Cantidad items en carrito */
.cart-icon{
    display: relative;
    
}

    .cart-icon:hover{
        background-color: inherit;
    }

.cart-icon__counter{
    display: grid;
    place-items: center;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 20px;
    height: 20px;
    background-color: var(--primary-solid);
    color: var(--font-light-solid);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 50%;
    transition: var(--transition--01);
}

    .cart-icon:hover .cart-icon__counter{
        background-color: var(--secondary-solid);
        transform: scale(1.4);
    }